.hero__content {
  padding-top: 70px;
}

.hero__title {
  font-size: 2.5rem;
}
.hero__title span {
  color: #df2020;
}
.hero__content p {
  font-size: 1rem;
  line-height: 30px;
  color: #777;
}

.hero__btns button {
  border: none;
  outline: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}

.order__btn {
  background: #df2020;
  color: #fff;
}

.foodBtnActive {
  background: #fff !important;
  border-radius: 30px;
  color: #fff !important;
}
.all__btn {
  background: #fff !important;
  border-radius: 20px solid black;
}
