.hero__title {
  font-size: 12px;
  line-height: 55px;
}
.hero__title > span {
  color: #df2020;
}

.hero__content p {
  font-size: 1rem;
  line-height: 30px;
  color: #777;
}

.food__category {
  background: #30c554;
  text-align: center;
  margin-top: 30px;
  padding: 20px 0;
  border-radius: 20px;
}
.food__category button {
  border: none;
  outline: none;
  padding: 9px 20px;
  background: transparent !important;
  color: #212121;
}

.foodBtnActive {
  background: #fff !important;
  border-radius: 30px;
  color: #fff !important;
}
.all__btn {
  background: #fff !important;
  border-radius: 20px solid black;
}

/* HOME */

@media only screen and (max-width: 375px) {
  .food__category {
    padding: -10px;
    font-size: -100%;
  }
}
